.option-container {
  list-style-type: none;
  margin-bottom: 0 !important;
}

.option-container li {
  display: inline;
  margin-left: 0.625rem;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-radius: 1.25rem;
}

.nav-links {
    color: #27A87E;
    text-decoration: none;
}

.header {
    box-shadow: 0rem 0.188rem 0.5rem rgba(0, 0, 0, 0.09);
}

.ulStylenone {
    list-style-type: none;
}

.mt50 {
    margin-top: 1.25rem;
}