.footer-wrapper {
    height: 5.313rem;
    border-top: 0.063rem solid #ccc;
    .page-link-text {
        ul {
            margin-bottom: 0rem;
            @media screen and (max-width: 36rem) {
                justify-content: center;
                padding-left: 0rem;
                display: flex;
            }
            li {
                list-style: none;
                display: inline;
                border-right: 0.063rem solid #BDBDBD;
                padding: 0rem 0.5rem 0rem 0.938rem;
                font-weight: 400;
                font-size: 1rem;
                a {
                    color: #2a2a2a;
                    text-decoration: none;
                }
               
    
                &:last-child{
                    border: none;
                }
            }
        }
    }
   
    p {
        font-weight: 400;
        font-size: 1rem;
    }
    .social-links {
        ul {
            margin-bottom: 0rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media screen and (max-width: 36rem) {
                justify-content: center;
                padding-left: 0rem;
            }
            li {
                list-style: none;
                display: inline-block;
                margin-left: 0.75rem;
                a {
                    background: #81E4C4;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2.063rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
               
    
                &:last-child{
                    border: none;
                }
            }
        }
    }
}